<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="Analiticos"
         connectionString ="Server=192.168.10.1;Database=Analiticos;User Id=m;Password=Duquesa2008;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
    
    <add name="Duquesa"
         connectionString ="Server=192.168.10.1;Database=DUQUESA;User Id=m;Password=Duquesa2008;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
    
    <add name="Permisos"
         connectionString ="Server=192.168.10.1;Database=Permisos;User Id=m;Password=Duquesa2008;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/> 
    
    <add name="Ofima"
         connectionString ="Server=192.168.10.1;Database=CONTROL_OFIMAEnterprise;User Id=m;Password=Duquesa2008;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
    
  </connectionStrings>

</configuration>